<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Category Management</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block" >

                                                        <form class="form-material" method="post"  action="{% url 'save_category' %}" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <div class="form-group form-default">
                                                                <input type="text" name="cname" class="form-control">
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Category Name</label>
                                                            </div>

                                                            <div class="form-group form-default">
                                                                <textarea class="form-control" name="description"></textarea>
                                                                <span class="form-bar"></span>
                                                                <label class="float-label">Description</label>
                                                            </div>

                                                            <div class="form-group form-default">
                                                                <input type="file" name="photo" class="form-control">
                                                                <span class="form-bar"></span>
                                                            </div>
                                                            <button class="btn waves-effect waves-light btn-success"><i class="icofont icofont-check-circled" action="submit"></i>Save</button>

                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% if messages %}
        {% for i in messages %}
            {% if i.tags == 'warning' %}
            <script>
                swal('{{i}}','','warning')
            </script>
            {% elif i.tags == 'error' %}
            <script>
                swal('{{i}}','','error')
            </script>
            {% elif i.tags == 'info' %}
            <script>
                swal('{{i}}','','info')
            </script>
            {% else %}
            <script>
                swal('{{i}}','','success')
            </script>
            {% endif %}
        {% endfor %}
    {% endif %}


</body>
</html>
{% endblock %}